body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  position: absolute;
  height: 0;
  padding-bottom: 30%;
  width: 30%;
  background: red;
  border: 1px solid black;
}

.game {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: lime;
  border: 1px solid black;
}