body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: red;
  border: 1px solid black;
}

.square img {
  width: 100%;
}

.game {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
}